* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{--my-gradient: linear-gradient(
  to bottom,
  #D4145A,
  #FBB03B
);
}
.intro{
  position: relative;
}
.intro::after{
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(to right, #FBB03B, #FF512F, #FBB03B, #FF512F);
  height: 4px;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    color: white;
    background: var(--my-gradient);
  }

  .btn-container {
    display: flex;
    gap: 20px;
    margin-top: 60px;
  }
  .btn {
    font-size: 18px;
    padding: 12px 48px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  .light-btn {
    background-color: #FBB03B;
    color: var(--main-font-color);
    transition: all 2s;
    cursor: pointer;
  }
  .light-btn:hover {
    background-color: #D4145A;
    color: lightcoral;
    border: 1px solid lightcoral;
  }
.contact {
display: flex;
padding: 35px 24px;    
flex-direction: column;
align-items: center;
gap: 24px;

}

.box{
    border: 2px solid lightcoral;
    background-image: linear-gradient(
      to bottom,
      #FF512F,
      #DD2476
    );
    width: 498px;
    height: 677px;
    padding: 35px 24px;
    padding-right: 50px;

}

.para{
 padding-bottom: 24px;
 border: 1px #1E303C;
 
}

.input-container{
    margin-bottom: 20px;
    
}
.input {
  width: 100%;
    border: 1px solid #1E303C;
    background: lightcoral;
    padding: 10px;
    margin-top: 5px;
}

input {
    width: 100%;
    border: 1px solid #1E303C;
    background: lightcoral;
    padding: 10px;
    margin-top: 5px;
}
h2 {
    font-size: 64px;
    font-style: normal;
    line-height: 84px;
    font-weight: 600;
}

textarea {
    height: 231px;
    gap: 12px;
    align-self: stretch;
    padding: 12px 16px;
}

.me{
    display: flex;
}

.letter{
    opacity: 0;
    animation: show 0.1s;
    animation-fill-mode: forwards;
}

.l1 {
    animation-delay: 0.1s;
}

.l2 {
    animation-delay: 0.5s;
}

.l3 {
    animation-delay: 1s;
}

.l4 {
    animation-delay: 1.5s;
}

.l5 {
    animation-delay: 2s;
}

.l6 {
    animation-delay: 2.5s;
}

.l7 {
    animation-delay: 3s;
}

.l8 {
    animation-delay: 3.5s;
}

.l9 {
    animation-delay: 4s;
}

@keyframes show {
    from {
        opacity: 1;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.contactme1 {
    display: flex;
    margin: 0;
    padding: 0;
}

hr {
  border-color :lightcoral;
  margin-bottom: 75px;
  
}

.last {
  color: lightcoral;
  background-color: lightcoral;
}
@media only screen and (max-width: 768px) {
.box{
  height: auto;
  width: 350px;
}
.header{
  width:200px;
  margin-right: 100px;
  flex-direction: column;
}
.contactme1{
  justify-content: center;
  margin-left: 50px;
}
.page-container {
    padding: 0 3%;
    height: 100%;
  }
  body{
    background-repeat: no-repeat;
    height: 100%;
  }
}