* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --my-gradient: linear-gradient(
      to bottom right,
      navy,
      black
    );
}
body {
    font-family: "Poppins", sans-serif;
    color: white;
    /* background:var(--my-gradient); */
    margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  /* removes scroll */ 
  }
  #background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* keeps it behind everything */
}
.page-container {
   height: 100vh;              /* fill full viewport */
  display: flex;
  flex-direction: column;  
  }
  
.main {
    margin-top: 10px;
    padding-top: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding-bottom: 192px; */
  }
  .main {
  flex: 1;                    /* take up middle space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container{  
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    justify-content: center;
    align-items: center;   
    /* margin-bottom: -150px;    */
  }
  .img-container:hover{
    transform: scale(110%);
    transition: 0.2s ease-in-out;
  }
  .links{
    width: 25px;
    display: flex;
  }
  .img-container{
    width: 200px;
  } 
  .aa{
    animation: 3s slide-in ease-out; 
  }
  .ab{
    animation: 3s slider ease-out;
  }
  @keyframes slider{
    from{
      transform: translateX(500%);
    }
    to{
      transform: translateX(0%);
    }
  }
  @keyframes slide-in {
    from{
      transform: translateX(-500%);
    }
    to{
      transform: translateX(0);
    }
  }

  .img-container img{
    width: 100%;
  }
.work {
    align-self: stretch;
    text-align: center;
    font-family: "poppins";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 84px; */
    /* padding-top: 64px;
    padding-bottom: 64px; */
 }

 hr {
  border-color : rgb(0, 128, 79);
  margin-bottom: 5px;
  border-radius: 5px;
  width: 75%;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
  }
  .page-container{
    padding: 0 3%;
    width: 100%;
  }
}
footer{
  flex-shrink: 0;
}