.logo{
  margin-right: -150px;
}
.navbar {
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: right;
  list-style: none;
  width: 100%;
  height: 60px;
  border: 2px solid rgba(72, 0, 255, 0.014) ;
  z-index: 1;
  display: flex;
  padding: 10px 20px;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}
.darkmode {
  --my-gradient: black;
}
.nav-bar {
  display: flex;
}
/* .nav-bar li {
  padding-left: 30px;
} */
.nav-bar li a {
  display: inline-block;
  text-decoration: none;
  color:white ;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
.burger{
  width: 30px;
  display: none;
  cursor: pointer;
}
#close-svg {
  height: 100%;
  width: 100%;
  display: none;
  cursor: pointer;
}

#close-svg img {
  width: 30px;
  right: 100%;
  height: 100%;
}
 nav a:hover {
  transform: scale(1) ease-in-out 5s;
  border-bottom: 2px solid lightpink;
 }
 nav a{
  position: relative;
  width: max-content;
}

.bar {
display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #101010;
}

ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
  list-style: none;
}
a {
  text-decoration: none;
  z-index: 99;
  color: var(--main-font-color);
}
.footer{
  font-family: "poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  
}

footer {
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
width: 100%;
justify-content: center;
}
footer img:hover{
  transform: scale(150%);
  border-bottom: 1px solid black;
}
#mod-theme{
  display: none;
}
.mod-theme {
  width: 100px;
  height: 33px;
  background-color: grey;
  display: block;
  border-radius: 20px;
  padding: 3px;
  position: relative;
  transition: all 2s linear;
  margin-left: 15px;
}
.mod-theme::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  background-color: orange;
  border-radius: 20px;
}
#mod-theme:checked + label {
  background-color: rgb(48,45,45);
}
#mod-theme:checked + label::after {
  left: 70px;
  background-color: rgb(133,124,124);
}
.mod-theme img{
  width: 23px;
  z-index: 100;
  top: 6px;
  left: 5px;
  position: absolute;
  cursor: pointer;
}
#moon {
  left: 74px;
  top: 5px;
}
@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }
.nav-bar {
  display: none;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center; 
  gap: 25px;
}

.navbar {
  height: 100%;
  width: 100%;
  padding: 10px 0;
  display: flex;
  /* gap: 20%; */
}

.nav-bar.open {
  display: flex;
  flex-direction: column;
 
} 
.nav-bar li {
margin-top: 20px;
}
.nav-item a{
  color: black;
}
.mod-theme {
  margin-top: 40px;
}
.logo{
  width: auto;
  height: 30px;
  margin-right: 5px;
}
}