nav {
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    border: 2px solid rgba(72, 0, 255, 0.014) ;
    z-index: 1;
    display: flex;
    padding: 30px 0;
    
  }

  nav a:hover {
    padding: 5px;
    /* border-radius: 5px; */
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);

    transform: scaleX(1) ease-in-out 5s;
    /* text-decoration: wavy; */
  }

  nav a.active {
    color: var(--active-color);
  }

  :root {
    --main-color: #071e2e;
    --main-font-color: white;
    --padding: 20px;
    --normal-text-size: 16px;
    --second-color: #03afed;
    --active-color: pink;
  }

  ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    list-style: none;
  }
  a {
    text-decoration: none;
    z-index: 99;
    color: var(--main-font-color);
  }
  .footer{
    color: var(--second-color);
    font-family: "poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    
 }
 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: center;
 }